
body {
    background: linear-gradient(68.15deg, #0c0a0e 16.62%, #240244 85.61%);
    font-size: 100%;
}

.perfil {
    padding-top: 30px;
}

.PF {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgRedonda {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.RS {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    gap: 10px;
}

.icones {
    width: 50px;
}

.PJ {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(2, 61, 255);
    font-size: large;
    text-shadow: blueviolet 1px 1px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    text-shadow: rgb(2, 61, 255) 1px 1px;
}